@CHARSET "US-ASCII";

.contact_box {
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
	background-color: #ffffff;
	position: fixed;
}

.site {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto;
	right: 10px;
	left: 10px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto;
	background-color: green;
}

.page_element_first {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.page_element_first_row {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	float: left;
}

.page_element_first_element_small {
	width: 250px;
	height: 300px;
	float: left;
	position: relative;
}

.page_element_first_element_big {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	float: left;
	position: relative;
}

.elem_font {
	font-variant: small-caps;
	font-size: 200%;
	margin-top: 20px;
}

.elem_about {
	background-image: url("./icons/about.png");
}

.elem_about:hover {
	background-image: url("./icons/about_hover.png");
}

.elem_pictures {
	background-image: url("./icons/pictures.png");
}

.elem_pictures:hover {
	background-image: url("./icons/pictures_hover.png");
}

.elem_something {
	background-image: url("./icons/something.png");
}

.elem_something:hover {
	background-image: url("./icons/something_hover.png");
}

.elem_projects {
	background-image: url("./icons/projects.png");
}

.elem_projects:hover {
	background-image: url("./icons/projects_hover.png");
}

.elem_nothing {
	background-image: url("./icons/nothing.png");
}

.elem_nothing:hover {
	background-image: url("./icons/nothing.png");
}

.elem_impressum {
	background-image: url("./icons/impressum.png");
}

.elem_impressum:hover {
	background-image: url("./icons/impressum_hover.png");
}

.page_element {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	background-size: 1000px auto;
}

.pic_geradmer {
	background-image: url('./images/geradmer2.jpg');
}

.pic_london {
	background-image: url('./images/london.JPG');
}

.pic_sydney {
	background-image: url('./images/sydney.jpg');
}

.pic_barcelona {
	background-image: url('./images/barcelona.JPG');
}

.page_element_slideshow {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	background-color: green;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 1px;
}

.footer {
	width: 1000px;
	height: 50px;
	margin: auto 0;
}

.backtotop {
	position: fixed;
	bottom: 0px;
	right: 30px;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #949194));
	background: -moz-linear-gradient(center top, #ededed 5%, #949194 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#949194');
	background-color: #ededed;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #5e5b5e;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
	line-height: 25px;
	width: 76px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
}

.grey_left {
	height: 400px;
	width: 500px;
	background: rgba(178, 223, 238, 0.6);
	float: left;
	z-index: 5;
}

.grey_right {
	height: 400px;
	width: 500px;
	background: rgba(178, 223, 238, 0.6);
	float: right;
	z-index: 5;
}

.grey_middle {
	height: 400px;
	width: 500px;
	background: rgba(178, 223, 238, 0.6);
	margin: 0 auto;
	z-index: 5;
}

.backtotop:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #949194
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #949194 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#949194',
		endColorstr='#ededed');
	background-color: #949194;
}

.text_normal {
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	font-variant: small-caps;
	color: #000000;
	text-indent: 1em;
}

.iframe_slideshow {
	width: 1000px;
	height: 415px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}