@CHARSET "US-ASCII";

.contact_box {
	top: 5px;
	right: 5px;
	height: 25px;
	width: 25px;
	background-color: #fffff;
	position: fixed;
}

.sidebarbox_text {
	-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
	border-top-right-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	border-bottom-right-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-bottom-left-radius: 9px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 30px;
	line-height: 30px;
	width: 130px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 5px;
	margin-left: 5px;
}

.sidebarbox_text:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',
		endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.sidebarbox_text:active {
	position: relative;
	top: 1px;
}

.body {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto;
}

.header {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #949194));
	background: -moz-linear-gradient(center top, #ededed 5%, #949194 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#949194');
	background-color: #ededed;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #5e5b5e;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
	line-height: 25px;
	width: 1000px;
	margin: 0 auto;
	position: fixed;
	top: 0px;
}

.page_element_first {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.page_element_first_row {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	float: left;
}

.page_element_first_element_small {
	width: 250px;
	height: 300px;
	float: left;
	position: relative;
}

.page_element_first_element_big {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	float: left;
	position: relative;
}

.elem_font {
	font-variant: small-caps;
	font-size: 200%;
	margin-top: 20px;
}

.elem_about {
	background-image: url("./images/about.png");
}

.elem_about:hover {
	background-image: url("./images/about_hover.png");
}

.elem_pictures {
	background-image: url("./images/pictures.png");
}

.elem_pictures:hover {
	background-image: url("./images/pictures_hover.png");
}

.elem_something {
	background-image: url("./images/something.png");
}

.elem_something:hover {
	background-image: url("./images/something_hover.png");
}

.elem_projects {
	background-image: url("./images/projects.png");
}

.elem_projects:hover {
	background-image: url("./images/projects_hover.png");
}

.elem_nothing {
	background-image: url("./images/nothing.png");
}

.elem_nothing:hover {
	background-image: url("./images/nothing.png");
}

.elem_impressum {
	background-image: url("./images/impressum.png");
}

.elem_impressum:hover {
	background-image: url("./images/impressum_hover.png");
}

.page_element {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	background-size: 1000px auto;
}

.pic_geradmer {
	background-image: url('./images/geradmer2.jpg');
}

.pic_london {
	background-image: url('./images/london.JPG');
}

.pic_sydney {
	background-image: url('./images/sydney.jpg');
}

.pic_barcelona {
	background-image: url('./images/barcelona.JPG');
}

.page_element_slideshow {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	background-color: green;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 1px;
}

.footer {
	width: 1000px;
	height: 50px;
	margin: 0auto;
}

.backtotop {
	position: fixed;
	bottom: 0px;
	right: 30px;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #949194));
	background: -moz-linear-gradient(center top, #ededed 5%, #949194 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#949194');
	background-color: #ededed;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #5e5b5e;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
	line-height: 25px;
	width: 76px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
}

.grey_left {
	height: 400px;
	width: 500px;
	background: rgba(178, 223, 238, 0.6);
	float: left;
	z-index: 5;
}

.grey_right {
	height: 400px;
	width: 500px;
	background: rgba(178, 223, 238, 0.6);
	float: right;
	z-index: 5;
}

.grey_middle {
	height: 400px;
	width: 500px;
	background: rgba(178, 223, 238, 0.6);
	margin: 0 auto;
	z-index: 5;
}

.backtotop:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #949194
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #949194 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#949194',
		endColorstr='#ededed');
	background-color: #949194;
}

.text_normal {
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	font-variant: small-caps;
	color: #000000;
	text-indent: 1em;
}

.iframe_slideshow {
	width: 1000px;
	height: 415px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

.impressum {
	
}