@CHARSET "US-ASCII";

 /* Font Definitions */
@font-face
	{font-family:"Courier New";
	panose-1:2 7 3 9 2 2 5 2 4 4;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\FF2D\FF33 \30B4\30B7\30C3\30AF";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\FF2D\FF33 \30B4\30B7\30C3\30AF";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
.MsoNormal, .MsoNormal, .MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Cambria;}
h1
	{
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:16.0pt;
	font-family:Calibri;
	color:#345A8A;}
.MsoListParagraph, .MsoListParagraph, .MsoListParagraph
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Cambria;}
.berschrift1Zeichen
	{font-family:Calibri;
	color:#345A8A;
	font-weight:bold;}
.MsoChpDefault
	{font-family:Cambria;}
@page WordSection1
	{size:595.0pt 842.0pt;
	margin:42.55pt 70.85pt 2.0cm 70.85pt;}
.WordSection1
	{page:WordSection1;}
 /* List Definitions */
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
